@import url("https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

* {
  font-family: "Nata Sans", sans-serif;
  box-sizing: border-box;
  transition: all 300ms ease;
}

/* Minimal, fade-in scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent; /* invisible by default */
  border-radius: 3px;
  transition: background 0.3s ease;
}

ul:hover::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25); /* visible only on hover */
}

ul:hover::-webkit-scrollbar-thumb:hover {
  background: rgba(
    255,
    255,
    255,
    0.4
  ); /* slightly brighter when directly hovered */
}
