@import url("https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

* {
  font-family: "Nata Sans", sans-serif;
  box-sizing: border-box;
  transition: all 300ms ease;
}

.top-right-position {
  position: fixed;
  top: 10%;
  right: 7%;
  z-index: 10; /* ensure on top */
}

.apps-position__1,
.apps-position__2 {
  position: static;
  top: auto;
  right: auto;
}

@media (max-width: 640px) {
  .glass-card {
    padding: 1rem;
  }
}

/* GLASS CARD
backdrop-blur-lg bg-white/20 border border-white/10 rounded-xl p-6 shadow-lg fixed top-10 right-7 z-10
*/
